<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.intime.soa.anygate.mapper.GateLogMapper">

    <resultMap id="Base_Result_Map" type="com.intime.soa.model.anygate.GateLog">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="urlName" column="url_name" jdbcType="VARCHAR"/>
        <result property="param" column="param" jdbcType="VARCHAR"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
        <result property="result" column="result" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="Base_Column_List">
        <![CDATA[
		id,user_id,user_name,mobile,url,url_name,param,ip,result,create_time
	]]>
    </sql>

    <!-- useGeneratedKeys="true"(主键自增)  keyProperty="xxx" for sqlserver and mysql -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.intime.soa.model.anygate.GateLog">
        <![CDATA[
        INSERT INTO gate_log (
		 user_id,
		 user_name,
		 mobile,
		 url,
		 url_name,
		 param,
		 ip,
		 result,
		 create_time
        ) VALUES (
		 #{userId},
		 #{userName},
		 #{mobile},
		 #{url},
		 #{urlName},
		 #{param},
		 #{ip},
		 #{result},
		 #{createTime}
        )
    ]]>
    </insert>

    <!-- useGeneratedKeys="true"(主键自增)  keyProperty="xxx" for sqlserver and mysql -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
        INSERT INTO gate_log (
        user_id,
        user_name,
        mobile,
        url,
        url_name,
        param,
        ip,
        result,
        create_time
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            <![CDATA[
        (
		 #{item.userId},
		 #{item.userName},
		 #{item.mobile},
		 #{item.url},
		 #{item.urlName},
		 #{item.param},
		 #{item.ip},
		 #{item.result},
		 #{item.createTime}
		)
		]]>
        </foreach>
    </insert>

    <insert id="insertPartly" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.intime.soa.model.anygate.GateLog">
        INSERT INTO gate_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test=" userId != null ">
                user_id,
            </if>
            <if test=" userName != null and userName != '' ">
                user_name,
            </if>
            <if test=" mobile != null and mobile != '' ">
                mobile,
            </if>
            <if test=" url != null and url != '' ">
                url,
            </if>
            <if test=" urlName != null and urlName != '' ">
                url_name,
            </if>
            <if test=" param != null and param != '' ">
                param,
            </if>
            <if test=" ip != null and ip != '' ">
                ip,
            </if>
            <if test=" result != null ">
                result,
            </if>
            <if test=" createTime != null ">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test=" userId != null ">
                #{userId},
            </if>
            <if test=" userName != null and userName != '' ">
                #{userName},
            </if>
            <if test=" mobile != null and mobile != '' ">
                #{mobile},
            </if>
            <if test=" url != null and url != '' ">
                #{url},
            </if>
            <if test=" urlName != null and urlName != '' ">
                #{urlName},
            </if>
            <if test=" param != null and param != '' ">
                #{param},
            </if>
            <if test=" ip != null and ip != '' ">
                #{ip},
            </if>
            <if test=" result != null ">
                #{result},
            </if>
            <if test=" createTime != null ">
                #{createTime},
            </if>
        </trim>
    </insert>

    <insert id="insertPartlyBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            INSERT INTO gate_log
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test=" item.userId != null ">
                    user_id,
                </if>
                <if test=" item.userName != null and item.userName != '' ">
                    user_name,
                </if>
                <if test=" item.mobile != null and item.mobile != '' ">
                    mobile,
                </if>
                <if test=" item.url != null and item.url != '' ">
                    url,
                </if>
                <if test=" item.urlName != null and item.urlName != '' ">
                    url_name,
                </if>
                <if test=" item.param != null and item.param != '' ">
                    param,
                </if>
                <if test=" item.ip != null and item.ip != '' ">
                    ip,
                </if>
                <if test=" item.result != null ">
                    result,
                </if>
                <if test=" item.createTime != null ">
                    create_time,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test=" item.userId != null ">
                    #{item.userId},
                </if>
                <if test=" item.userName != null and item.userName != '' ">
                    #{item.userName},
                </if>
                <if test=" item.mobile != null and item.mobile != '' ">
                    #{item.mobile},
                </if>
                <if test=" item.url != null and item.url != '' ">
                    #{item.url},
                </if>
                <if test=" item.urlName != null and item.urlName != '' ">
                    #{item.urlName},
                </if>
                <if test=" item.param != null and item.param != '' ">
                    #{item.param},
                </if>
                <if test=" item.ip != null and item.ip != '' ">
                    #{item.ip},
                </if>
                <if test=" item.result != null ">
                    #{item.result},
                </if>
                <if test=" item.createTime != null ">
                    #{item.createTime},
                </if>
            </trim>
        </foreach>
    </insert>

    <update id="update" parameterType="com.intime.soa.model.anygate.GateLog">
        UPDATE gate_log
        <set>
            <if test=" userId != null ">
                user_id = #{userId},
            </if>
            <if test=" userName != null and userName != '' ">
                user_name = #{userName},
            </if>
            <if test=" mobile != null and mobile != '' ">
                mobile = #{mobile},
            </if>
            <if test=" url != null and url != '' ">
                url = #{url},
            </if>
            <if test=" urlName != null ">
                url_name = #{urlName},
            </if>
            <if test=" param != null ">
                param = #{param},
            </if>
            <if test=" ip != null and ip != '' ">
                ip = #{ip},
            </if>
            <if test=" result != null ">
                result = #{result},
            </if>
            <if test=" createTime != null ">
                create_time = #{createTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE gate_log
            <set>
                <if test=" item.userId != null ">
                    user_id = #{item.userId},
                </if>
                <if test=" item.userName != null and item.userName != '' ">
                    user_name = #{item.userName},
                </if>
                <if test=" item.mobile != null and item.mobile != '' ">
                    mobile = #{item.mobile},
                </if>
                <if test=" item.url != null and item.url != '' ">
                    url = #{item.url},
                </if>
                <if test=" item.urlName != null ">
                    url_name = #{item.urlName},
                </if>
                <if test=" item.param != null ">
                    param = #{item.param},
                </if>
                <if test=" item.ip != null and item.ip != '' ">
                    ip = #{item.ip},
                </if>
                <if test=" item.result != null ">
                    result = #{item.result},
                </if>
                <if test=" item.createTime != null ">
                    create_time = #{item.createTime},
                </if>
            </set>
            WHERE id = item.id
        </foreach>
    </update>

    <!--传入id, 测试是否支持主键非id  -->
    <delete id="delete" parameterType="com.intime.soa.model.anygate.GateLog">
        DELETE FROM gate_log
        WHERE 1=1
        <if test=" id != null ">
            AND id = #{id}
        </if>
        <if test=" userId != null ">
            AND user_id = #{userId}
        </if>
        <if test=" userName != null and userName != '' ">
            AND user_name = #{userName}
        </if>
        <if test=" mobile != null and mobile != '' ">
            AND mobile = #{mobile}
        </if>
        <if test=" url != null and url != '' ">
            AND url = #{url}
        </if>
        <if test=" urlName != null ">
            AND url_name = #{urlName}
        </if>
        <if test=" param != null ">
            AND param = #{param}
        </if>
        <if test=" ip != null and ip != '' ">
            AND ip = #{ip}
        </if>
        <if test=" result != null ">
            AND result = #{result}
        </if>
        <if test=" createTime != null ">
            AND create_time = #{createTime}
        </if>
    </delete>

    <!--传入id, 测试是否支持主键非id  -->
    <delete id="deleteById" parameterType="java.lang.Long">
        <![CDATA[
        DELETE FROM gate_log WHERE id = #{id}
    ]]>
    </delete>

    <!--传入id, 测试是否支持主键非id  -->
    <select id="queryById" resultMap="Base_Result_Map" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        <![CDATA[
		FROM gate_log 
	    WHERE id = #{id}
	    ]]>
    </select>

    <!--传入id, 测试是否支持主键非id  -->
    <select id="query" resultMap="Base_Result_Map" parameterType="HashMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM gate_log
        WHERE 1=1
        <if test=" id != null ">
            AND id = #{id}
        </if>
        <if test=" userId != null ">
            AND user_id = #{userId}
        </if>
        <if test=" userName != null and userName != '' ">
            AND user_name = #{userName}
        </if>
        <if test=" mobile != null and mobile != '' ">
            AND mobile = #{mobile}
        </if>
        <if test=" url != null and url != '' ">
            AND url = #{url}
        </if>
        <if test=" urlName != null ">
            AND url_name = #{urlName}
        </if>
        <if test=" param != null ">
            AND param = #{param}
        </if>
        <if test=" ip != null and ip != '' ">
            AND ip = #{ip}
        </if>
        <if test=" result != null ">
            AND result = #{result}
        </if>
        <if test=" createTime != null ">
            AND create_time = #{createTime}
        </if>
        <if test="orderBy != null and orderBy != '' ">
            ORDER BY ${orderBy}
        </if>
        <if test="offset != null and limit != null ">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <!--传入id, 测试是否支持主键非id  -->
    <select id="queryCount" resultType="java.lang.Long" parameterType="HashMap">
        SELECT COUNT(1)
        FROM gate_log
        WHERE 1=1
        <if test=" id != null ">
            AND id = #{id}
        </if>
        <if test=" userId != null ">
            AND user_id = #{userId}
        </if>
        <if test=" userName != null and userName != '' ">
            AND user_name = #{userName}
        </if>
        <if test=" mobile != null and mobile != '' ">
            AND mobile = #{mobile}
        </if>
        <if test=" url != null and url != '' ">
            AND url = #{url}
        </if>
        <if test=" urlName != null ">
            AND url_name = #{urlName}
        </if>
        <if test=" param != null ">
            AND param = #{param}
        </if>
        <if test=" ip != null and ip != '' ">
            AND ip = #{ip}
        </if>
        <if test=" result != null ">
            AND result = #{result}
        </if>
        <if test=" createTime != null ">
            AND create_time = #{createTime}
        </if>
    </select>
</mapper>

