<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.intime.soa.anygate.mapper.GateResourceMapper">

    <resultMap id="Base_Result_Map" type="com.intime.soa.model.anygate.GateResource">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="projectId" column="project_id" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="method" column="method" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="isDisabled" column="is_disabled" jdbcType="VARCHAR"/>
        <result property="authMode" column="auth_mode" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
        <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
        <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
        <result property="dataVersion" column="data_version" jdbcType="INTEGER"/>
        <result property="isDelete" column="is_delete" jdbcType="VARCHAR"/>
        <result property="dataTime" column="data_time" jdbcType="TIMESTAMP"/>
        <result property="region" column="region" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="Base_Column_List">
        <![CDATA[
		id,parent_id,project_id,type,name,icon,method,path,is_disabled,auth_mode,remark,create_time,create_user_id,create_user_name,update_time,update_user_id,update_user_name,data_version,is_delete,data_time,region
	]]>
    </sql>

    <resultMap id="SubGateResourceResult" type="com.intime.soa.model.anygate.GateResource" extends="Base_Result_Map">
        <collection property="gateResourcesList" javaType="java.util.ArrayList" column="id"
                    ofType="com.intime.soa.model.anygate.GateResource" select="selectSubGateResource"></collection>
    </resultMap>

    <resultMap id="GateResourceTreeResult" type="com.intime.soa.model.anygate.GateResourceTree"
               extends="SubGateResourceResult">
        <!--<association property="functionPrivilege" column="id" javaType="LscrmFunctionPrivilegeEntity" resultMap="LscrmFunctionPrivilegeResult"/>-->
        <collection property="gateResourcesList" javaType="java.util.ArrayList" column="id"
                    ofType="com.intime.soa.model.anygate.GateResource" select="selectSubGateResource"></collection>
    </resultMap>

    <select id="selectGateResource" resultMap="Base_Result_Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM gate_resource
    </select>

    <!--正确-->
    <!--<select id="readAllResource" parameterType="java.lang.Integer" resultType="com.intime.soa.model.anygate.GateResourceTree">-->
    <!--SELECT-->
    <!--<![CDATA[-->
    <!--id,parent_id,project_id,type,name,icon,method,path,is_disabled,remark,create_time,create_user_id,create_user_name,update_time,update_user_id,update_user_name,data_version,is_delete,data_time-->
    <!--]]>-->
    <!--FROM gate_resource-->
    <!--WHERE parent_id = 0-->
    <!--<if test="_parameter != null ">-->
    <!--AND project_id= #{projectId}-->
    <!--</if>-->
    <!--</select>-->

    <select id="readAllResource" parameterType="java.lang.String" resultMap="GateResourceTreeResult">
        SELECT
        <include refid="Base_Column_List"/>
        FROM gate_resource
        WHERE parent_id = 0
        AND project_id= #{projectId}
    </select>

    <select id="selectSubGateResource" parameterType="java.lang.String" resultMap="SubGateResourceResult">
        SELECT
        <include refid="Base_Column_List"/>
        FROM gate_resource
        WHERE parent_id = #{id}
    </select>

    <!-- useGeneratedKeys="true"(主键自增)  keyProperty="xxx" for sqlserver and mysql -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.intime.soa.model.anygate.GateResource">
        <![CDATA[
        INSERT INTO gate_resource (
         id,
		 parent_id,
		 project_id,
		 type,
		 name,
		 icon,
		 method,
		 path,
		 is_disabled,
		 auth_mode,
		 remark,
		 create_time,
		 create_user_id,
		 create_user_name,
		 update_time,
		 update_user_id,
		 update_user_name,
		 data_version,
		 is_delete,
		 data_time,
		 region
        ) VALUES (
         #{id},
		 #{parentId},
		 #{projectId},
		 #{type},
		 #{name},
		 #{icon},
		 #{method},
		 #{path},
		 #{isDisabled},
		 #{authMode},
		 #{remark},
		 #{createTime},
		 #{createUserId},
		 #{createUserName},
		 #{updateTime},
		 #{updateUserId},
		 #{updateUserName},
		 #{dataVersion},
		 #{isDelete},
		 #{dataTime},
		 #{region}
        )
    ]]>
    </insert>

    <!-- useGeneratedKeys="true"(主键自增)  keyProperty="xxx" for sqlserver and mysql -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
        INSERT INTO gate_resource (
        id,
        parent_id,
        project_id,
        type,
        name,
        icon,
        method,
        path,
        is_disabled,
        auth_mode,
        remark,
        create_time,
        create_user_id,
        create_user_name,
        update_time,
        update_user_id,
        update_user_name,
        data_version,
        is_delete,
        data_time,
        region
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            <![CDATA[
        (
         #{item.id},
		 #{item.parentId},
		 #{item.projectId},
		 #{item.type},
		 #{item.name},
		 #{item.icon},
		 #{item.method},
		 #{item.path},
		 #{item.isDisabled},
		 #{item.authMode},
		 #{item.remark},
		 #{item.createTime},
		 #{item.createUserId},
		 #{item.createUserName},
		 #{item.updateTime},
		 #{item.updateUserId},
		 #{item.updateUserName},
		 #{item.dataVersion},
		 #{item.isDelete},
		 #{item.dataTime},
		 #{item.region}
		)
		]]>
        </foreach>
    </insert>

    <insert id="insertPartly" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.intime.soa.model.anygate.GateResource">
        INSERT INTO gate_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test=" id != null and id != '' ">
                id,
            </if>
            <if test=" parentId != null and parentId != '' ">
                parent_id,
            </if>
            <if test=" projectId != null and projectId != '' ">
                project_id,
            </if>
            <if test=" type != null and type != '' ">
                type,
            </if>
            <if test=" name != null and name != '' ">
                name,
            </if>
            <if test=" icon != null and icon != '' ">
                icon,
            </if>
            <if test=" method != null and method != '' ">
                method,
            </if>
            <if test=" path != null and path != '' ">
                path,
            </if>
            <if test=" isDisabled != null and isDisabled != '' ">
                is_disabled,
            </if>
            <if test=" authMode != null and authMode != '' ">
                auth_mode,
            </if>
            <if test=" remark != null and remark != '' ">
                remark,
            </if>
            <if test=" createTime != null ">
                create_time,
            </if>
            <if test=" createUserId != null and createUserId != '' ">
                create_user_id,
            </if>
            <if test=" createUserName != null and createUserName != '' ">
                create_user_name,
            </if>
            <if test=" updateTime != null ">
                update_time,
            </if>
            <if test=" updateUserId != null and updateUserId != '' ">
                update_user_id,
            </if>
            <if test=" updateUserName != null and updateUserName != '' ">
                update_user_name,
            </if>
            <if test=" dataVersion != null ">
                data_version,
            </if>
            <if test=" isDelete != null and isDelete != '' ">
                is_delete,
            </if>
            <if test=" dataTime != null ">
                data_time,
            </if>
            <if test=" region != null and region != '' ">
                region,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test=" id != null and id != '' ">
                #{id},
            </if>
            <if test=" parentId != null and parentId != '' ">
                #{parentId},
            </if>
            <if test=" projectId != null and projectId != '' ">
                #{projectId},
            </if>
            <if test=" type != null and type != '' ">
                #{type},
            </if>
            <if test=" name != null and name != '' ">
                #{name},
            </if>
            <if test=" icon != null and icon != '' ">
                #{icon},
            </if>
            <if test=" method != null and method != '' ">
                #{method},
            </if>
            <if test=" path != null and path != '' ">
                #{path},
            </if>
            <if test=" isDisabled != null and isDisabled != '' ">
                #{isDisabled},
            </if>
            <if test=" authMode != null and authMode != '' ">
                #{authMode},
            </if>
            <if test=" remark != null and remark != '' ">
                #{remark},
            </if>
            <if test=" createTime != null ">
                #{createTime},
            </if>
            <if test=" createUserId != null and createUserId != '' ">
                #{createUserId},
            </if>
            <if test=" createUserName != null and createUserName != '' ">
                #{createUserName},
            </if>
            <if test=" updateTime != null ">
                #{updateTime},
            </if>
            <if test=" updateUserId != null and updateUserId != '' ">
                #{updateUserId},
            </if>
            <if test=" updateUserName != null and updateUserName != '' ">
                #{updateUserName},
            </if>
            <if test=" dataVersion != null ">
                #{dataVersion},
            </if>
            <if test=" isDelete != null and isDelete != '' ">
                #{isDelete},
            </if>
            <if test=" dataTime != null ">
                #{dataTime},
            </if>
            <if test=" region != null and region != '' ">
                #{region},
            </if>
        </trim>
    </insert>

    <insert id="insertPartlyBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            INSERT INTO gate_resource
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test=" item.id != null and item.id != '' ">
                    id,
                </if>
                <if test=" item.parentId != null and item.parentId != '' ">
                    parent_id,
                </if>
                <if test=" item.projectId != null and item.projectId != '' ">
                    project_id,
                </if>
                <if test=" item.type != null and item.type != '' ">
                    type,
                </if>
                <if test=" item.name != null and item.name != '' ">
                    name,
                </if>
                <if test=" item.icon != null and item.icon != '' ">
                    icon,
                </if>
                <if test=" item.method != null and item.method != '' ">
                    method,
                </if>
                <if test=" item.path != null and item.path != '' ">
                    path,
                </if>
                <if test=" item.isDisabled != null and item.isDisabled != '' ">
                    is_disabled,
                </if>
                <if test=" item.authMode != null and item.authMode != '' ">
                    auth_mode,
                </if>
                <if test=" item.remark != null and item.remark != '' ">
                    remark,
                </if>
                <if test=" item.createTime != null ">
                    create_time,
                </if>
                <if test=" item.createUserId != null and item.createUserId != '' ">
                    create_user_id,
                </if>
                <if test=" item.createUserName != null and item.createUserName != '' ">
                    create_user_name,
                </if>
                <if test=" item.updateTime != null ">
                    update_time,
                </if>
                <if test=" item.updateUserId != null and item.updateUserId != '' ">
                    update_user_id,
                </if>
                <if test=" item.updateUserName != null and item.updateUserName != '' ">
                    update_user_name,
                </if>
                <if test=" item.dataVersion != null ">
                    data_version,
                </if>
                <if test=" item.isDelete != null and item.isDelete != '' ">
                    is_delete,
                </if>
                <if test=" item.dataTime != null ">
                    data_time,
                </if>
                <if test=" item.region != null and item.region != '' ">
                    region,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test=" item.id != null and item.id != '' ">
                    #{item.id},
                </if>
                <if test=" item.parentId != null and item.parentId != '' ">
                    #{item.parentId},
                </if>
                <if test=" item.projectId != null and item.projectId != '' ">
                    #{item.projectId},
                </if>
                <if test=" item.type != null and item.type != '' ">
                    #{item.type},
                </if>
                <if test=" item.name != null and item.name != '' ">
                    #{item.name},
                </if>
                <if test=" item.icon != null and item.icon != '' ">
                    #{item.icon},
                </if>
                <if test=" item.method != null and item.method != '' ">
                    #{item.method},
                </if>
                <if test=" item.path != null and item.path != '' ">
                    #{item.path},
                </if>
                <if test=" item.isDisabled != null and item.isDisabled != '' ">
                    #{item.isDisabled},
                </if>
                <if test=" item.authMode != null and item.authMode != '' ">
                    #{item.authMode},
                </if>
                <if test=" item.remark != null and item.remark != '' ">
                    #{item.remark},
                </if>
                <if test=" item.createTime != null ">
                    #{item.createTime},
                </if>
                <if test=" item.createUserId != null and item.createUserId != '' ">
                    #{item.createUserId},
                </if>
                <if test=" item.createUserName != null and item.createUserName != '' ">
                    #{item.createUserName},
                </if>
                <if test=" item.updateTime != null ">
                    #{item.updateTime},
                </if>
                <if test=" item.updateUserId != null and item.updateUserId != '' ">
                    #{item.updateUserId},
                </if>
                <if test=" item.updateUserName != null and item.updateUserName != '' ">
                    #{item.updateUserName},
                </if>
                <if test=" item.dataVersion != null ">
                    #{item.dataVersion},
                </if>
                <if test=" item.isDelete != null and item.isDelete != '' ">
                    #{item.isDelete},
                </if>
                <if test=" item.dataTime != null ">
                    #{item.dataTime},
                </if>
                <if test=" item.region != null and item.region != '' ">
                    #{item.region},
                </if>
            </trim>
        </foreach>
    </insert>

    <update id="update" parameterType="com.intime.soa.model.anygate.GateResource">
        UPDATE gate_resource
        <set>
            <if test=" parentId != null and parentId != '' ">
                parent_id = #{parentId},
            </if>
            <if test=" projectId != null and projectId != '' ">
                project_id = #{projectId},
            </if>
            <if test=" type != null">
                type = #{type},
            </if>
            <if test=" name != null">
                name = #{name},
            </if>
            <if test=" icon != null">
                icon = #{icon},
            </if>
            <if test=" method != null">
                method = #{method},
            </if>
            <if test=" path != null">
                path = #{path},
            </if>
            <if test=" isDisabled != null">
                is_disabled = #{isDisabled},
            </if>
            <if test=" authMode != null">
                auth_mode = #{authMode},
            </if>
            <if test=" remark != null">
                remark = #{remark},
            </if>
            <if test=" createTime != null ">
                create_time = #{createTime},
            </if>
            <if test=" createUserId != null">
                create_user_id = #{createUserId},
            </if>
            <if test=" createUserName != null">
                create_user_name = #{createUserName},
            </if>
            <if test=" updateTime != null ">
                update_time = #{updateTime},
            </if>
            <if test=" updateUserId != null">
                update_user_id = #{updateUserId},
            </if>
            <if test=" updateUserName != null">
                update_user_name = #{updateUserName},
            </if>
            <if test=" dataVersion != null">
                data_version = #{dataVersion},
            </if>
            <if test=" isDelete != null">
                is_delete = #{isDelete},
            </if>
            <if test=" dataTime != null ">
                data_time = #{dataTime},
            </if>
            <if test=" region != null ">
                region = #{region},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE gate_resource
            <set>
                <if test=" item.parentId != null">
                    parent_id = #{item.parentId},
                </if>
                <if test=" item.projectId != null">
                    project_id = #{item.projectId},
                </if>
                <if test=" item.type != null">
                    type = #{item.type},
                </if>
                <if test=" item.name != null">
                    name = #{item.name},
                </if>
                <if test=" item.icon != null">
                    icon = #{item.icon},
                </if>
                <if test=" item.method != null">
                    method = #{item.method},
                </if>
                <if test=" item.path != null">
                    path = #{item.path},
                </if>
                <if test=" item.isDisabled != null">
                    is_disabled = #{item.isDisabled},
                </if>
                <if test=" item.authMode != null">
                    auth_mode = #{item.authMode},
                </if>
                <if test=" item.remark != null">
                    remark = #{item.remark},
                </if>
                <if test=" item.createTime != null ">
                    create_time = #{item.createTime},
                </if>
                <if test=" item.createUserId != null">
                    create_user_id = #{item.createUserId},
                </if>
                <if test=" item.createUserName != null">
                    create_user_name = #{item.createUserName},
                </if>
                <if test=" item.updateTime != null ">
                    update_time = #{item.updateTime},
                </if>
                <if test=" item.updateUserId != null">
                    update_user_id = #{item.updateUserId},
                </if>
                <if test=" item.updateUserName != null">
                    update_user_name = #{item.updateUserName},
                </if>
                <if test=" item.dataVersion != null ">
                    data_version = #{item.dataVersion},
                </if>
                <if test=" item.isDelete != null">
                    is_delete = #{item.isDelete},
                </if>
                <if test=" item.dataTime != null ">
                    data_time = #{item.dataTime},
                </if>
                <if test=" item.region != null ">
                    region = #{item.region},
                </if>
            </set>
            WHERE id = item.id
        </foreach>
    </update>

    <!--传入id, 测试是否支持主键非id  -->
    <delete id="delete" parameterType="com.intime.soa.model.anygate.GateResource">
        DELETE FROM gate_resource
        WHERE 1=1
        <if test=" id != null ">
            AND id = #{id}
        </if>
        <if test=" parentId != null and parentId != '' ">
            AND parent_id = #{parentId}
        </if>
        <if test=" projectId != null and projectId != '' ">
            AND project_id = #{projectId}
        </if>
        <if test=" type != null and type != '' ">
            AND type = #{type}
        </if>
        <if test=" name != null and name != '' ">
            AND name = #{name}
        </if>
        <if test=" icon != null and icon != '' ">
            AND icon = #{icon}
        </if>
        <if test=" method != null and method != '' ">
            AND method = #{method}
        </if>
        <if test=" path != null and path != '' ">
            AND path = #{path}
        </if>
        <if test=" isDisabled != null and isDisabled != '' ">
            AND is_disabled = #{isDisabled}
        </if>
        <if test=" authMode != null and authMode != '' ">
            AND auth_mode = #{authMode}
        </if>
        <if test=" remark != null and remark != '' ">
            AND remark = #{remark}
        </if>
        <if test=" createTime != null ">
            AND create_time = #{createTime}
        </if>
        <if test=" createUserId != null and createUserId != '' ">
            AND create_user_id = #{createUserId}
        </if>
        <if test=" createUserName != null and createUserName != '' ">
            AND create_user_name = #{createUserName}
        </if>
        <if test=" updateTime != null ">
            AND update_time = #{updateTime}
        </if>
        <if test=" updateUserId != null and updateUserId != '' ">
            AND update_user_id = #{updateUserId}
        </if>
        <if test=" updateUserName != null and updateUserName != '' ">
            AND update_user_name = #{updateUserName}
        </if>
        <if test=" dataVersion != null ">
            AND data_version = #{dataVersion}
        </if>
        <if test=" isDelete != null and isDelete != '' ">
            AND is_delete = #{isDelete}
        </if>
        <if test=" dataTime != null ">
            AND data_time = #{dataTime}
        </if>
        <if test=" region != null ">
            AND region = #{region}
        </if>
    </delete>

    <!--传入id, 测试是否支持主键非id  -->
    <delete id="deleteById" parameterType="java.lang.String">
        <![CDATA[
        DELETE FROM gate_resource WHERE id = #{id}
    ]]>
    </delete>

    <!--传入id, 测试是否支持主键非id  -->
    <select id="queryById" resultMap="Base_Result_Map" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        <![CDATA[
	FROM gate_resource
	WHERE id = #{id}
	]]>
    </select>

    <!--传入id, 测试是否支持主键非id  -->
    <select id="query" resultMap="Base_Result_Map" parameterType="HashMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM gate_resource
        WHERE 1=1
        AND is_delete = '0'
        <if test=" id != null  and id != '' ">
            AND id = #{id}
        </if>
        <if test=" parentId != null and parentId != '' ">
            AND parent_id = #{parentId}
        </if>
        <if test=" projectId != null and projectId != '' ">
            AND project_id = #{projectId}
        </if>
        <if test=" type != null and type != '' ">
            AND type = #{type}
        </if>
        <if test=" name != null and name != '' ">
            AND name = #{name}
        </if>
        <if test=" icon != null and icon != '' ">
            AND icon = #{icon}
        </if>
        <if test=" method != null and method != '' ">
            AND method = #{method}
        </if>
        <if test=" path != null and path != '' ">
            AND path = #{path}
        </if>
        <if test=" isDisabled != null and isDisabled != '' ">
            AND is_disabled = #{isDisabled}
        </if>
        <if test=" authMode != null and authMode != '' ">
            AND auth_mode = #{authMode}
        </if>
        <if test=" remark != null and remark != '' ">
            AND remark = #{remark}
        </if>
        <if test=" createTime != null ">
            AND create_time = #{createTime}
        </if>
        <if test=" createUserId != null and createUserId != '' ">
            AND create_user_id = #{createUserId}
        </if>
        <if test=" createUserName != null and createUserName != '' ">
            AND create_user_name = #{createUserName}
        </if>
        <if test=" updateTime != null ">
            AND update_time = #{updateTime}
        </if>
        <if test=" updateUserId != null and updateUserId != '' ">
            AND update_user_id = #{updateUserId}
        </if>
        <if test=" updateUserName != null and updateUserName != '' ">
            AND update_user_name = #{updateUserName}
        </if>
        <if test=" dataVersion != null ">
            AND data_version = #{dataVersion}
        </if>
        <if test=" isDelete != null and isDelete != '' ">
            AND is_delete = #{isDelete}
        </if>
        <if test=" dataTime != null ">
            AND data_time = #{dataTime}
        </if>
        <if test=" region != null ">
            AND region = #{region}
        </if>
        <if test="orderBy != null and orderBy != '' ">
            ORDER BY ${orderBy}
        </if>
        <if test="desc != null and desc != '' and desc =='1'">
            DESC
        </if>
        <if test="desc != null and desc != '' and desc =='0'">
            ASC
        </if>
        <if test="offset != null and limit != null ">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <!--传入id, 测试是否支持主键非id  -->
    <select id="queryCount" resultType="java.lang.Long" parameterType="HashMap">
        SELECT COUNT(1)
        FROM gate_resource
        WHERE 1=1
        AND is_delete = '0'
        <if test=" id != null ">
            AND id = #{id}
        </if>
        <if test=" parentId != null and parentId != '' ">
            AND parent_id = #{parentId}
        </if>
        <if test=" projectId != null and projectId != '' ">
            AND project_id = #{projectId}
        </if>
        <if test=" type != null and type != '' ">
            AND type = #{type}
        </if>
        <if test=" name != null and name != '' ">
            AND name = #{name}
        </if>
        <if test=" icon != null and icon != '' ">
            AND icon = #{icon}
        </if>
        <if test=" method != null and method != '' ">
            AND method = #{method}
        </if>
        <if test=" path != null and path != '' ">
            AND path = #{path}
        </if>
        <if test=" isDisabled != null and isDisabled != '' ">
            AND is_disabled = #{isDisabled}
        </if>
        <if test=" authMode != null and authMode != '' ">
            AND auth_mode = #{authMode}
        </if>
        <if test=" remark != null and remark != '' ">
            AND remark = #{remark}
        </if>
        <if test=" createTime != null ">
            AND create_time = #{createTime}
        </if>
        <if test=" createUserId != null and createUserId != '' ">
            AND create_user_id = #{createUserId}
        </if>
        <if test=" createUserName != null and createUserName != '' ">
            AND create_user_name = #{createUserName}
        </if>
        <if test=" updateTime != null ">
            AND update_time = #{updateTime}
        </if>
        <if test=" updateUserId != null and updateUserId != '' ">
            AND update_user_id = #{updateUserId}
        </if>
        <if test=" updateUserName != null and updateUserName != '' ">
            AND update_user_name = #{updateUserName}
        </if>
        <if test=" dataVersion != null ">
            AND data_version = #{dataVersion}
        </if>
        <if test=" isDelete != null and isDelete != '' ">
            AND is_delete = #{isDelete}
        </if>
        <if test=" dataTime != null ">
            AND data_time = #{dataTime}
        </if>
        <if test=" region != null ">
            AND region = #{region}
        </if>
    </select>

</mapper>

