<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 传输协议, dubbo -->
    <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}"/>
    <dubbo:provider filter="AuthorityFilter,ElapsedTimeFilter" timeout="5000" loadbalance="leastactive"
                    mock="return null" version="1.0.0"/>

    <dubbo:service interface="com.intime.soa.service.anygate.GateUserService" ref="gateUserService"/>

</beans>
